{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include 'styles.html' %}
  </head>
  <body>
    
    {% include 'navbar.html' %}

    {% block body %}{% endblock body %}

     <!--=============LOADER===========-->
        <div id="ftco-loader" class="show fullscreen">
          {% comment %} <svg class="circular" width="48px" height="48px"> {% endcomment %}
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
            </svg>
        </div>
     <!--=============LOADER===========-->

     <!--====Back to top button=====-->
    <a href="#" class="btn back-to-top"><i class="icon-arrow-up"></i></a>
     <!--====Back to top=====-->
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
</html>