{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include 'styles.html' %}
  </head>
  <body>
    
    {% include 'navbar.html' %}

    {% block body %}{% endblock body %}

     <!--=============LOADER===========-->
        <div id="ftco-loader" class="show fullscreen">
            {% static 'svg/loader.svg' %}
        </div>
     <!--=============LOADER===========-->
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
</html>