{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

    {% block title %}Fast Cars{% endblock title %}
    
    {% block body %}
    <!--=====XXX=====HERO===XXX====-->
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('{% static 'images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
          	<div class="text w-100 text-center mb-md-5 pb-md-5">
	            <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
	            <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
	            <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
	            	<div class="icon d-flex align-items-center justify-content-center">
	            		<span class="ion-ios-play"></span>
	            	</div>
	            	<div class="heading-title ml-5">
		            	<span>Easy steps for renting a car</span>
	            	</div>
	            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====XXX=====HERO===XXX====-->

    <!--=============RENT / BOOK A CAR===========-->
    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12 featured-top">
    				<div class="row no-gutters">
	  					<div class="col-md-4 d-flex align-items-center">
	  						<form method="POST" class="request-form ftco-animate bg-primary"> {% csrf_token %}
		          				<h2>Make your trip</h2>
			    				<div class="form-group">
			    					<label for="" class="label">Pick-up location</label>
									{{bookingform.pick_up_location|add_class:"form-control"|attr:"type:text"|attr:"placeholder:City, Airport, Station, etc"}}
			    				</div>
			    				<div class="form-group">
			    					<label for="" class="label">Drop-off location</label>
									{{bookingform.drop_off_location|add_class:"form-control"|attr:"type:text"|attr:"placeholder:City, Airport, Station, etc"}}
			    				</div>
			    				<div class="d-flex">
									<div class="form-group mr-2">
									<label for="" class="label">Pick-up date</label>
									{{bookingform.pick_up_date|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Date"}}
								</div>
								<div class="form-group ml-2">
									<label for="" class="label">Drop-off date</label>
									{{bookingform.drop_off_date|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Date"}}
								</div>
								</div>
								<div class="form-group">
									<label for="" class="label">Pick-up time</label>
									{{bookingform.pick_up_time|add_class:"form-control"|attr:"type:text"|attr:"placeholder:Time"}}
								</div>
								<div class="form-group">
									<input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
								</div>
			    			</form>
	  					</div>
						{% comment %} move to model {% endcomment %}
	  					<div class="col-md-8 d-flex align-items-center">
	  						<div class="services-wrap rounded-right w-100">
	  							<h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
	  							<div class="row d-flex mb-4">
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
				              	<div class="text w-100">
					                <h3 class="heading mb-2">Choose Your Pickup Location</h3>
				                </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
				              	<div class="text w-100">
					                <h3 class="heading mb-2">Select the Best Deal</h3>
					              </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
											<div class="text w-100">
												<h3 class="heading mb-2">Reserve Your Rental Car</h3>
											</div>
										</div>      
									</div>
					        	</div>
					       		 <p><a href="{% url 'cars' %}" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
	  					</div>
	  				</div>
	  			</div>
			</div>
  		</div>
    </section>
    <!--===XXX=======RENT / BOOK A CAR=====XXX===-->

    <!--=============FEATURED VEHICLES=======-->
    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">What we offer</span>
            <h2 class="mb-2">Featured Vehicles</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="carousel-car owl-carousel">
						{%for r in related_cars%}
    					<div class="item">
    						<div class="car-wrap rounded ftco-animate">
								<div class="img rounded d-flex align-items-end" style="background-image: url('{{r.image.url}}');">
								</div>
								<div class="text">
									<h2 class="mb-0"><a href="{% url 'car-details' r.slug %}">{{r.car_model}}</a></h2>
									<div class="d-flex mb-3">
										<span class="cat">{{r.car_name}}</span>
										<p class="price ml-auto">${{r.price}} <span>/day</span></p>
									</div>
									<p class="d-flex mb-0 d-block"><a href="{% url 'book' %}" class="btn btn-primary py-2 mr-1">Book now</a>
											<a href="{% url 'car-details' r.slug %}" class="btn btn-secondary py-2 ml-1">Details</a></p>
								</div>
							</div>
    					</div>
						{%endfor%}
    				</div>
    			</div>
    		</div>
    </section>
    <!--====XXX====FEATURED VEHICLES===XXX====-->

    <!--=====XXX==ABOUT===XXX====-->
    <section class="ftco-section ftco-about">
		<div class="container">
			<div class="row no-gutters">
	 		 {% for a in about_us  %}
				<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{a.image.url}});">
				</div>
				<div class="col-md-6 wrap-about ftco-animate">
		  <div class="heading-section heading-section-white pl-md-5">
			  <span class="subheading">About us</span>
			<h2 class="mb-4">{{a.title}}</h2>

			<p>{{a.text}}</p>
			<p><a href="#" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
		  </div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	<!--=====XXX==ABOUT===XXX====-->

	<!--===XXX==OUR=SERVICES===XXX====-->
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Services</span>
				<h2 class="mb-3">Our Wonderful Services</h2>
				</div>
			</div>
			<div class="row">
	 		 {% for s in services  %}
				<div class="col-md-3">
					<div class="services services-2 w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center"><span class="{{s.icon}}"></span></div>
						<div class="text w-100">
						<h3 class="heading mb-2">{{s.service_title}}</h3>
						<p>{{s.service_text}}</p>
		  				</div>
					</div>
				</div>
	  		 {% endfor %}
			</div>
		</div>
	</section>
	<!--===XXX==OUR=SERVICES===XXX====-->
	 
	<!--==========BANNER=======-->
	{% for b in banner %}
	<section class="ftco-section ftco-intro" style="background-image: url({{b.banner_img.url}});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-6 heading-section heading-section-white ftco-animate">
		<h2 class="mb-3">{{b.text}}</h2>
		<a href="#" class="btn btn-primary btn-lg">{{b.btn_text}}</a>
		</div>
			</div>
		</div>
	</section>
	{% endfor %}
	<!--===XXX=====BANNER==XXX===-->

    <!--=============TESTIMONIALS===========-->
    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-3">Happy Clients</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
				{% for t in testimonials%}
				<div class="item">
					<div class="testimony-wrap rounded text-center py-4 pb-5">
					<div class="user-img mb-2" style="background-image: url('{{t.image.url}}')">
					</div>
					<div class="text pt-4">
						<p class="mb-4">{{t.comment}}</p>
						<p class="name">{{t.name}}</p>
						<span class="position">{{t.profession}}</span>
					</div>
					</div>
				</div>
				{%endfor%}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--========XX=====TESTIMONIALS=====XX====-->
  

   <!--=============FEATURED VEHICLES=======-->
   <section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row justify-content-center">
	  <div class="col-md-12 heading-section text-center ftco-animate mb-5">
		  <span class="subheading">Car Brands</span>
		<h2 class="mb-2">Featured Brands</h2>
	  </div>
	</div>
		<div class="row">
			<div class="col-md-12">
				<div class="carousel-car owl-carousel">
					{% for cb in car_brands %}
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<a href="#">
							<div class="img rounded d-flex align-items-end" style="background-image: url({{cb.brand_image.url}});">
							</div>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
   </section>
   <!--====XXX====FEATURED VEHICLES===XXX====-->

   {% endblock body %}
  

  

 